<launch>

    <node pkg="drdo_exploration" type="explorer.py" name="ex_node"/>
	<node pkg="drdo_exploration" type="move_to_targ.py" name="obstacle_node"/>
	<node pkg="drone_path_planner" type="movement.py" name="land_node"/>
	<node pkg="aruco_detector" type="detectAruco.py" name="ar_node"/>

</launch>